/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

h2 {
	text-align: center;
	font-size: 24px;
}

hr {
	margin-bottom: 30px;
}

div.container {
	width: 960px;
	height: 610px;
	margin: 50px auto;
	font-family: 'Droid Serif', serif;
	position: relative;
}

div.main {
	width: 320px;
	float: left;
	padding: 10px 55px 40px;
	background-color: rgba(187, 255, 184, 0.65);
	border: 15px solid white;
	box-shadow: 0 0 10px;
	border-radius: 2px;
	font-size: 13px;
}

input[type=text] {
	width: 97.7%;
	height: 34px;
	padding-left: 5px;
	margin-bottom: 20px;
	margin-top: 8px;
	box-shadow: 0 0 5px #f5a720;
	border: 2px solid #f5ae34;
	color: #464646;
	font-size: 16px;
}

input[type=text]:focus, input[type=text]:hover, [type=password]:hover {
	box-shadow: 0 0 5px #ff8000;
	border: 2px solid #f5ae34;
	outline: none;
}

.css-select {
	width: 97.7%;
	height: 34px;
	padding-left: 5px;
	margin-bottom: 20px;
	margin-top: 8px;
	box-shadow: 0 0 5px #f5a720;
	border: 2px solid #f5ae34;
	color: #464646;
	font-size: 16px;
}

label {
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
}

#register {
	font-size: 20px;
	margin-top: 15px;
	background-color: #f5ae34;
	border: 1px solid #f79c37;
	padding: 7px 35px;
	color: white;
	text-shadow: 0px 1px 0px #6a3106;
	font-family: arial;
	font-size: 17px;
	border-radius: 2px;
	cursor: pointer;
	width: 100%;
	font-size: 17px;
}

#register:hover {
	background-color: #f5a720;
}

#register[disabled=disabled], #register:disabled {
	background-color: grey;
	border: 0px solid #f79c37;
}

input.invalid, textarea.invalid {
	border: 2px solid red;
}

.black_overlay1 {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.white_content1 {
	display: none;
	position: fixed;
	top: 35%;
	width: auto;
	height: auto;
	left: 35%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}