/* Border Color / Style */
.ta5 {
	width:600px;
	height:60px;
	border:2px dashed #D1C7AC;
}


h1 {
	font-family:arial;
	font-size:16px;
}

b {
	font-family:arial;
	font-size:14px;
	background-color: #6ac7e8; 
}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6ac7e8), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #6ac7e8 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #6ac7e8 5%, #408c99 100%);
	background:-o-linear-gradient(top, #6ac7e8 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #6ac7e8 5%, #408c99 100%);
	background:linear-gradient(to bottom, #6ac7e8 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac7e8', endColorstr='#408c99',GradientType=0);
	background-color:#6ac7e8;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:4px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #6ac7e8));
	background:-moz-linear-gradient(top, #408c99 5%, #6ac7e8 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #6ac7e8 100%);
	background:-o-linear-gradient(top, #408c99 5%, #6ac7e8 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #6ac7e8 100%);
	background:linear-gradient(to bottom, #408c99 5%, #6ac7e8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#6ac7e8',GradientType=0);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

